{% extends 'base.html' %}

{% block login %}

    <div class="row">
        <div class="col-md-4 order-md-2 login-box">

            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-white float-left" type="submit">Login</button>
            </form>
            <div class="float-right ps-reset">
                <a class="text-light" href="{% url 'password_reset' %}">Email password reset</a>
            </div>
        </div>
    </div>

{% endblock %}