{% extends 'base.html' %}

{% block about_site %}
    <p class="text-justify text-light">You can choose any quantity of films from your base and you catch random
        result .</p>
    <hr class="mb-4">


    <p class="text-justify text-light">For populating your base load csv or txt file with films or add film with
        film base page .</p>
    <hr class="mb-4">

    <p class="text-justify text-light">For editing films click on some films, fill the gaps and push edit.</p>
    <hr class="mb-4">

    <p class="text-justify text-light">Get list of premieres in cinema of Ukraine, just choose month and
        year of premieres and push "Get premieres list" after that you can save some film to you film list for feature
        watching. Optionally, push on film title and get details about film (like a trailer, description etc.)</p>
    <hr class="mb-4">

    <p class="text-justify text-light">If you have any questions, use any convenient channel </p>
    <hr class="mb-4">
    <div class="btn-sm float-bottom">

        <a target="_blank" href="https://linkedin.com/in/nickolay-osiniy-4509b1111"
           class="fab fa-linkedin-in text-light btn"><span class="label">LinkedIn</span></a>
        <a target="_blank " href="https://www.facebook.com/nickolay.osiniy" class="fab fa-facebook text-light btn"><span
                class="label text-light">Facebook</span></a>
        <a target="_blank" href="skype:nickolay.osiniy?chat" class="fab fa-skype text-light btn"><span
                class="label text-light">Skype</span></a>
        <a target="_blank" href="http://github.com/spike23" class="fab fa-github text-light btn"><span
                class="label text-light">Github</span></a>

        <a target="_blank" href="mailto:nickolay.osiniy@gmail.com" class="far fab fa-envelope text-light btn"><span
                class="label text-light">Email</span></a>
    </div>
{% endblock %}