html,
body,
header,
.view {
  height: 100%;
}

.view {
  position: relative;
}

.shadow-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

}

.z-box{
  position: relative;
  z-index: 5;
}

.input-group input,
.list-group li{
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 60px;

}

.form-film-count{
  height: 400px;
    padding: 65px 40px;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}

.form-film-count label{
  display: block;
  font: 1.5rem/3rem  'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #000;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}
/* Style for name */

@import "https://fonts.googleapis.com/css?family=Russo+One";
h2.funny-title{
  border-top:5px solid #E0DBDE;
  border-bottom:5px solid #E0DBDE;
  font-size:70px;
  text-align:center;
  margin-top:40px;
  margin-bottom:5px;
  text-transform:uppercase;
  font-family:'Russo One',sans-serif;
  font-weight:900;
  letter-spacing:8px;
}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.section-title{
  2-webkit-animation-play-state:running;
  -moz-animation-play-state:running;
  animation-play-state:running;
  color:transparent;
  background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat #ECE7EA;
  background-size:cover;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  -webkit-background-clip:text;
  -moz-background-clip:text;background-clip:text;
  -webkit-animation:move-background 20s infinite linear alternate;
  -moz-animation:move-background 20s infinite linear alternate;
  animation:move-background 20s infinite linear alternate;
}