<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Film chooser</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css'%}"/>
</head>

<div class="view"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="shadow-box"></div>
    <div class="container z-box">
        <div class="py-5 text-center">
            <h2 class="text-uppercase text-primary font-weight-bold funny-title section-title">Film chooser</Colorboard></h2>
            <p class="lead font-italic text-light">Fill in form.</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 ">
                <h4 class="d-flex justify-content-center align-items-center">
                    <span class="text-light">Last watching</span>
                </h4>
                <ul class="list-group">
                    {% if last_watching %}
                    {% for film in last_watching %}
                    <li class="list-group-item d-flex justify-content-center lh-condensed">
                        <h6 class="my-0"> {{ film.films }} </h6>
                    </li>
                    {% endfor %}
                    {% endif %}


                </ul>
            </div>

            <div class="col-md-8 order-md-1 ">

                <form class="needs-validation" action="{% url 'chooser' %}" method="post">
                    {% csrf_token %}
                    <div class="">
                        <label class="text-light" for="username">How many films will you watch ?</label>
                        <div class="input-group rounded">
                            {{ form.films }}
                            <div class="invalid-feedback" style="width: 100%;">
                                Films is required.
                            </div>
                        </div>
                    </div>


                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Show the result</button>
                </form>

                {% if chooser %}
                {% for film in chooser %}
                <div class="col-md-4  text-muted alert alert-success border border-primary mt-4" role="alert">
                    {{ film.films }}
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>

        <hr class="mb-4">

        <div class="btn btn-primary btn-sm float-left">
            <form method="post" action="{% url 'base_films_uploader' %}" enctype="multipart/form-data">{% csrf_token %}
                <label class="text-light" for="username">Upload File</label>
                <input type="file" name="file">

        </div>
        <div class="btn btn-primary btn-sm float-right">
            <button class="btn btn-primary btn-lg btn-block" type="save">Upload</button>
        </div>
        </form>

        <footer class="my-5 pt-5 text-light text-center text-small">

            {% if last_updated %}
            <hr class="mb-4">
                <div class="btn btn-primary btn-sm float-left">
                    <p class="mb-1">Last film list updating was: {{ last_updated.last_updated }}</p>
                </div>
            {% endif %}

            <p class="mb-1">&copy; 2019 Nickolay Osiniy</p>

            <div class="btn btn-primary btn-sm float-bottom">
                {% if user.is_authenticated %}
                <p class="mb-1">{{ user.username }}</p>
                <p><a class="text-light" href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                <div class="btn btn-primary btn-sm float-bottom">
                    <p><a class="text-light" href="{% url 'signup' %}">Sign Up</a></p>
                </div>
                <div class="btn btn-primary btn-sm float-bottom">
                    <p><a class="text-light" href="{% url 'login' %}">Log In </a></p>
                </div>
                <div class="btn btn-primary btn-sm float-bottom">
                    <p><a class="text-light" href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
                </div>
                <div class="btn btn-primary btn-sm float-bottom">
                    <p><a class="text-light" href="{% provider_login_url 'facebook' %}">Log In with Facebook</a></p>
                    {% endif %}
                </div>
            </div>

        </footer>
    </div>
</div>
<script>
    new WOW().init();
</script>
</body>
</html>