<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Film chooser</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".main-menu");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</head>

<div class="view"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="shadow-box"></div>
    <div class="main-menu clearfix">
        <div class="container">
            <div class="btn-sm float-left">
                <a href='{% url "index" %}' class="text-light text-center btn btn-white">Home </a>
            </div>

            <div class="btn-sm float-right">
                <a href='{% url "watching_film_list" %}' class="text-light text-center btn btn-white">WatchingFilms </a>
                <a href='{% url "base_film_list" %}' class="text-light text-center btn btn-white"> FilmBase</a>
            </div>
        </div>
    </div>
    <div class="container z-box">

        <div class="py-5 text-center">
            <h2 class="text-uppercase text-primary font-weight-bold funny-title section-title">Film chooser</h2>

        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 watch-box">
                <h4 class="d-flex justify-content-center align-items-center">
                    <span class="text-light">Last watching</span>
                </h4>
                <ul class="list-group">
                    {% if last_watching %}
                        {% for film in last_watching %}
                            <li class="list-group-item d-flex justify-content-center lh-condensed">
                                <h6 class="my-0 text-light"> {{ film.films }} </h6>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {% if last_watching.has_other_pages %}
                    <ul class="pagination">
                        {% if last_watching.has_previous %}
                            <li><a href="?page={{ last_watching.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in last_watching.paginator.page_range %}
                            {% if last_watching.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if last_watching.has_next %}
                            <li><a href="?page={{ last_watching.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-md-8 order-md-1 ">

                <form class="needs-validation form-film-count col-md-8" action="{% url 'chooser' %}" method="post">
                    {% csrf_token %}
                    <div class="">
                        <label class="text-light text-center" for="username">How many films will you watch ?</label>
                        <div class="input-group rounded">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            {{ form.films }}
                        </div>
                    </div>


                    <hr class="mb-4">
                    <button class="btn btn-lg btn-block" type="submit">Show the result</button>
                </form>

            </div>
        </div>

        <hr class="mb-4">


        <form method="post" action="{% url 'base_films_uploader' %}" enctype="multipart/form-data">{% csrf_token %}
            <h3 class="text-light text-left">Upload your list film:</h3>
            <input type="file" id="username" name="file">
            <button class="btn btn-sm" type="save">Upload</button>

            {% if counter %}

                <label class="text-light" for="username">{{ counter }} uploaded films</label>

            {% endif %}
        </form>

        {% if last_updated %}

            <div class="last-upload btn-sm">
                <p class="mb-1">Last film list updating was: {{ last_updated.last_updated }}</p>
            </div>
        {% endif %}


        <footer class="my-5 pt-5 text-light text-center text-small">


            <p class="mb-1">&copy; 2019 Nickolay Osiniy</p>

            <div class="btn-sm float-left">
                {% if user.is_authenticated %}
                    {#                    <p class="mb-1 btn float-left">{{ user.username }}</p>#}
                    <p><a class="text-light btn" href="{% url 'logout' %}">{{ user.username }} Log out</a></p>
                {% else %}
                    <div class="btn-sm float-left">
                        <p><a class="text-light btn" href="{% url 'signup' %}">Sign Up</a></p>
                    </div>
                    <div class="btn-sm float-left">
                        <p><a class="text-light btn" href="{% url 'login' %}">Log In </a></p>
                    </div>
                    <div class="btn-sm float-left">
                        <p><a class="text-light btn" href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
                    </div>
                    <div class="btn-sm float-left">
                    <p><a class="text-light btn" href="{% provider_login_url 'facebook' %}">Log In with Facebook</a></p>
                {% endif %}
                </div>
            </div>

        </footer>
    </div>
</div>
<script>
    new WOW().init();
</script>

</body>
</html>