
 body{
   background-color: #000407;
   min-height:100vh;
 }
.view {
  position: relative;
  height: 100%;
  min-height: 920px;
}

.shadow-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

}

/*Style main Menu*/
.menu__btn {
    display: none;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
.main-menu {
  position: fixed;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 10;
}
.main-menu.scrolled {
  background-color: rgba(0,0,0,0.8)!important;
  transition: background-color 100ms linear;
  box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
}

.main-menu a{
    margin-right: 5px;
}
.z-box{
  position: relative;
  z-index: 5;
  padding-top: 80px;
}
input[type="file"] {
  border: 1px solid rgba(255,255,255,0.4);
  padding: 15px;
  color:#ccc;
  margin: 20px 0;
}

input[type="number"]::placeholder,
.signup-box input[type="number"]::placeholder {
  color:#777;
  font-weight: bold;
  background-color: transparent;
  font-weight: bold;
  background-color: transparent;
}
.logo {
    width:80px;
    height: 80px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#new_film{
  height: 44px;
}
/*Watch Box*/

.input-group input,
.list-group li,
.change-password input{
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;

}
.list-group li{
  cursor:default;
}
.form-film-count{
  height: auto;
    padding: 65px 40px;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}

.form-film-count label{
  display: block;
  font: 1.5rem/3rem  'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #000;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}

.list-group-item h6{
  color: #fff;
}

.title-name{
  font-weight:bold ;
}

hr {
  background-color: #fff;
}

.last-upload {
  width: 470px;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 15px;
  font-size: 1.3rem;
  margin-top: 20px;
  color:#fff;

}
/* Style for name */

@import "https://fonts.googleapis.com/css?family=Russo+One";
h2.funny-title{
  border-top:5px solid #E0DBDE;
  border-bottom:5px solid #E0DBDE;
  font-size:70px;
  text-align:center;
  text-transform:uppercase;
  font-family:'Russo One',sans-serif;
  font-weight:900;
  letter-spacing:8px;
}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.section-title{
  2-webkit-animation-play-state:running;
  -moz-animation-play-state:running;
  animation-play-state:running;
  color:transparent;
  background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat #ECE7EA;
  background-size:cover;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  -webkit-background-clip:text;
  -moz-background-clip:text;background-clip:text;
  -webkit-animation:move-background 20s infinite linear alternate;
  -moz-animation:move-background 20s infinite linear alternate;
  animation:move-background 20s infinite linear alternate;
}

/* Button style*/

.btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-white{
  background-color:rgba(255,255,255,0.2);
  border:none;
}
.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s,
  .2s ease width , .2s ease height .2s;
}
.btn:hover:before,
.btn:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.btn:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.btn:hover {background: rgba(255,117,26,1);}

.add-btn{
  padding: 11px 30px;
}
.social-btn .btn-sm{
    padding: 0;
    margin-right: 10px;
}

.social-btn .btn-sm:last-child {
    margin-right: 0;
}
/*  Style pagination*/

.pagination {
  margin: 10px 0;
}

.pagination li {
  display: inline-block;
  width: 30px;
  height:25px;
  text-align: center;
  border: 1px solid #fff;
  background-color:rgba(255,255,255,.4);
  color:#fff;


}
.pagination li:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination li:last-child{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.pagination li a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.pagination .active {
  background-color:transparent;
}
.pagination li:hover {
  background-color: transparent;
}
/* Style checkbox*/
.form-check-input {
  height: 25px;
  width:25px;
  top:-5px;
  left:10px;

}

.form-check{
    width: 100%;
}


/*Watching form*/

 .watching-form,
 .filmlist-form
 {
   margin: 0 auto;
 }

 /* Sign UP Box*/

 .signup-box,
 .login-box{
   color:#fff;
   margin:0 auto;
   background-color: rgba(255,255,255,0.5);
   border-radius: 30px;
   box-shadow: -20px 15px 20px rgba(0,0,0,0.5),
                20px 15px 20px rgba(0,0,0,0.5);

   padding: 25px;
 }

 .signup-box h2,
 .login-box h2{
   text-align: center;
   font-weight: bold;
   text-shadow: -2px 1px 2px rgba(0,0,0,0.5);
   margin-bottom: 25px;
 }
 .signup-box input,
 .login-box input{
   width: 100%;
   padding: 5px 15px;
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 5px;
 }

 .signup-box label,
 .login-box label{
     text-shadow: -2px 1px 2px rgba(0,0,0,0.5);
   margin-bottom: 5px;
 }

.signup-box span {
  font-size: 0.8em;
  color:#9C1A1C;
}

.signup-box button {
  width: 100%;
}

.ps-reset{
  margin-top: 20px;
}


/* Premier list*/

 .premier-box {
   margin: 0 auto;
   margin-bottom: 30px;
 }

 .premier-box .rounded {
   display: inline-block;
   width: 49%;
 }
.last-premier-btn {
  margin: 0 auto;
}
/*  Sidebar*/

 .sidebar{
   padding-top: 20px;
 }
 .left-part{
     padding: 0;
 }
 .name-part {
   font-size: 18px;
   margin-bottom: 20px;
   text-transform: uppercase;
   color:#c2c2c2;
   text-align: center;
   border-bottom: 2px solid #222;
 }

 .search button {
     margin-top: 20px;
 }

 /* Social btn footer*/

 .social-btn {
  margin-bottom: 20px;
}

 .btn-footer {
   padding: 15px;
   font-size: 14px;
   box-shadow: 2px 3px 6px rgba(255,255,255,0.5);
   background: #ff751a;
   border-radius: 5px;
   color:#fff;
 }

 .btn-footer:hover {
   text-decoration: none;
   background: rgba(255,255,255,1);
   color: #ff751a;
 }
.copyright {
    padding:20px 0;
}
 /*Change password*/

 .change-password input {
   display: block;
   padding: 10px 5px;
   margin-bottom: 10px;
 }

 .change-password label,
 span.helptext{
   color:#fff;
 }
 /*Menu for smartphone*/
  @media only screen and (min-width : 320px) and (max-width : 1105px) {

/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */

     .menu__box {
         display: block;
         position: fixed;
         visibility: hidden;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 80px 0;
         list-style: none;
         text-align: center;
         background-color: rgba(0,0,0,0.8);
         box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
     }

     /* элементы меню */
     .menu__item {
         display: block;
         padding: 12px 24px;
         color: #333;
         font-family: 'Roboto', sans-serif;
         font-size: 20px;
         font-weight: 600;
         text-decoration: none;
     }


     #menu__toggle:checked ~ .menu__btn > span {
         transform: rotate(45deg);
     }

     #menu__toggle:checked ~ .menu__btn > span::before {
         top: 0;
         transform: rotate(0);
     }

     #menu__toggle:checked ~ .menu__btn > span::after {
         top: 0;
         transform: rotate(90deg);
     }

     #menu__toggle:checked ~ .menu__box {
         visibility: visible;
         left: 0;
     }
 }
 /*MEDIA*/
 /* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* стили */
    ul {
        padding: 0;
    }
    .logo {
        float:right!important;
    }
    .menu-link .float-right {
        float: none!important;
    }
    .main-menu {
        max-height: 480px;
    }
    .menu-link {
        display: inline-block;
    }
    .menu-link a {
        width: 100%;
    }
    .menu-link .float-left {
        float: none!important;
    }

    h2.funny-title {
        font-size: 2em;
    }
    .last-upload {
        width: 100%;
    }

    .btn-footer  {
        display: inline-block;
    }

    .list-group {
        width: 100%;
    }

    .premier-box label {
        font-size: 1em;
    }

    .search-block {
        float: none!important;
        margin-bottom: 20px;
    }

    .add-btn {
        width: 100%;
        margin-top: 10px;
    }

    #new_film {
        width: 100%;
    }
    .fab {
        width: 100%;
        margin-bottom: 10px;
    }

    .watching-form, .filmlist-form, .filmslist{
        padding: 0;
    }

    .signup-box, .login-box {
        width: 95%;
    }

}


/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
/* стили */

    .logo {
        float: right!important;
    }
    .menu-link .float-right, .menu-link .float-left {
        float:none!important;
    }
    .search-block {
        float: none!important;
        margin-bottom: 20px;
    }
    .fab {
        font-size: 14px;
    }
}

/* Большие экраны ----------- */
@media only screen  and (min-width: 1824px) {
/* стили */
}

