<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Film chooser</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".main-menu");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</head>

<div class="view"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="shadow-box"></div>
    <div class="main-menu clearfix">
        <div class="container">
            <div class="btn-sm float-left">
                <a href='{% url "index" %}' class="text-light text-center btn btn-white">Home </a>
            </div>

            <div class="btn-sm float-right">
                <a href='{% url "premiers_scrapper" %}' class="text-light text-center btn btn-white">Premiers </a>
                <a href='{% url "watching_film_list" %}' class="text-light text-center btn btn-white">WatchingFilms </a>
                <a href='{% url "base_film_list" %}' class="text-light text-center btn btn-white"> FilmBase</a>
                <a href='{% url "about_site" %}' class="text-light text-center btn btn-white">About site </a>
            </div>

        </div>
    </div>
    <div class="container z-box">

        <div class="py-5 text-center">
            <h2 class="text-uppercase text-primary font-weight-bold funny-title section-title">Film chooser</h2>
        </div>


        <p class="text-justify text-light">You can choose any quantity of films from your base and you catch random
            result .</p>
        <hr class="mb-4">


        <p class="text-justify text-light">For populating your base load csv or txt file with films or add film with
            film base page .</p>
        <hr class="mb-4">

        <p class="text-justify text-light">For editing films click on some films, fill the gaps and push edit.</p>
        <hr class="mb-4">

        <p class="text-justify text-light">If you have any questions, use any convenient channel </p>
        <hr class="mb-4">
        <div class="btn-sm float-bottom">

            <a target="_blank" href="https://linkedin.com/in/nickolay-osiniy-4509b1111"
               class="fab fa-linkedin-in text-light btn"><span class="label">LinkedIn</span></a>
            <a target="_blank " href="https://www.facebook.com/nickolay.osiniy" class="fab fa-facebook text-light btn"><span
                    class="label text-light">Facebook</span></a>
            <a target="_blank" href="skype:nickolay.osiniy?chat" class="fab fa-skype text-light btn"><span
                    class="label text-light">Skype</span></a>
            <a target="_blank" href="http://github.com/spike23" class="fab fa-github text-light btn"><span
                    class="label text-light">Github</span></a>

            <a target="_blank" href="mailto:nickolay.osiniy@gmail.com" class="far fa-envelope text-light btn"><span
                    class="label text-light">Email</span></a>
        </div>

        <footer class="my-5 pt-5 text-light text-center text-small">

            <div class="btn-sm float-bottom">
                {% if user.is_authenticated %}
                    {#                    <p class="mb-1 btn float-left">{{ user.username }}</p>#}
                    <p><a class="text-light btn" href="{% url 'logout' %}">{{ user.username }} Log out</a></p>
                {% else %}
                    <div class="btn-sm float-bottom">
                        <p><a class="text-light btn" href="{% url 'signup' %}">Sign Up</a></p>
                    </div>
                    <div class="btn-sm float-bottom">
                        <p><a class="text-light btn" href="{% url 'login' %}">Log In </a></p>
                    </div>
                    <div class="btn-sm float-bottom">
                        <p><a class="text-light btn" href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
                    </div>
                    <div class="btn-sm float-bottom">
                    <p><a class="text-light btn" href="{% provider_login_url 'facebook' %}">Log In with Facebook</a></p>
                {% endif %}
                </div>


                <p class="mb-1">&copy; 2019 Nickolay Osiniy</p>

            </div>

        </footer>
    </div>
</div>
<script>
    new WOW().init();
</script>
</body>
</html>