{% extends 'base.html' %}

{% block save_premieres %}
    <div class="float-right">
        <p class="text-light text-left">Search film in your film list</p>
        <form class="" action="{% url 'search_premieres_results' %}" method="get">
            <input name="q" type="text" placeholder="Search film">
            <button class="btn btn-sm add-btn" type="submit">Search</button>
        </form>
    </div>
    <form class="needs-validation btn-sm col-md-4 " action="{% url 'save_films_base' %}"
          method="post">                        {% csrf_token %}
        <ul class="list-group">
            {% if premieres %}

                {% for film in premieres %}

                    <li class="list-group-item d-flex lh-condensed">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value={{ film.pk }} name="save"
                                   id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <a href="{{ film.links }}"><p class="my-0 text-light"> {{ film.films }} </p></a>
                            </label>
                        </div>
                    </li>
                {% endfor %}

            {% endif %}

        </ul>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Saved checked</button>
    </form>

    {% if premieres.has_other_pages %}
        <ul class="pagination ">
            {% if premieres.has_previous %}
                <li><a href="?page={{ premieres.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in premieres.paginator.page_range %}
                {% if premieres.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if premieres.has_next %}
                <li><a href="?page={{ premieres.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}


{% endblock %}