
<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Film chooser</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>

<div class="view"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="shadow-box"></div>
    <div class="container z-box">
        <div class="main-menu clearfix">
            <div class="btn-sm float-left">
            <a href='{% url "index" %}' class="text-light text-center btn">Home </a>
            </div>

            <div class="btn-sm float-right">
              <a href='{% url "watching_film_list" %}' class="text-light text-center btn">WatchingFilms </a>
              <a href='{% url "base_film_list" %}' class="text-light text-center btn"> FilmBase</a>
            </div>
        </div>
        <div class="py-5 text-center">
            <h2 class="text-uppercase text-primary font-weight-bold funny-title section-title">Film chooser</h2>

        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 watch-box">

                <h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
            </div>


        <footer class="my-5 pt-5 text-light text-center text-small">



            <p class="mb-1">&copy; 2019 Nickolay Osiniy</p>

        </footer>
    </div>
</div>
<script>
    new WOW().init();
</script>
</body>
</html>